# Octopus SFM32F723
# [*] Enable extra low-level configuration options
# Micro-controller Architecture = STMicroelectronics STM32
# Processor model = STM32H723
# Clock Reference = 25 MHz crystal
# Bootloader offset = 128 kib bootloader
# Communication interface = USB to CAN Bus bridge ( USB on PA11/PA12)
# CAN Bus Interface ( Can bus ( PD0/PD1))
# CAN bus speed = 500000


[include shell_command.cfg]
[respond]
#[include chopper_tune.cfg]
;[include mainsail.cfg]
[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_17001B000C51313236343430-if00

# [virtual_sdcard]
# path: /home/ghost/printer_data/gcodes
# on_error_gcode: CANCEL_PRINT

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]
recover_velocity: 200
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[display_status]

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 20000
max_z_velocity: 20
max_z_accel: 300
square_corner_velocity: 8

[include pins.cfg]
[include power.cfg]
[include stepper.cfg]
[include fans.cfg]
[include extruder.cfg]
[include probe.cfg]
[include z_tilt.cfg]
[include homing_override.cfg]
[include retract.cfg]
[include bed_mesh.cfg]
[include exclude.cfg]
[include neopixel.cfg]
[include input_shaper.cfg]
[include power.cfg]
[include idle_timeout.cfg]

# ADXL USB
;[include adxl.cfg]

# MACROS including
[include ./MACROS/speed_test.cfg]
[include ./MACROS/print_start.cfg]
[include ./MACROS/prime_line.cfg]
[include ./MACROS/print_end.cfg]
[include ./MACROS/filament.cfg]
[include ./MACROS/line_purge.cfg]
[include ./MACROS/bedfans.cfg]

[heater_bed]
heater_pin: HEBed
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: T1
#control: pid
min_temp: 0
max_temp: 130
max_power: 1
#pid_Kp=21.056
#pid_Ki=1.105
#pid_Kd=100.278

[firmware_retraction]
retract_length: 0.2
retract_speed: 25
unretract_speed: 25

[extruder]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.261
#*# pid_ki = 2.790
#*# pid_kd = 160.065
#*#
#*# [probe]
#*# z_offset = 8.810
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.527
#*# pid_ki = 1.443
#*# pid_kd = 53.238
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.063508, -0.018195, 0.039617, 0.094305, 0.081805, 0.041180, -0.018195
#*# 	  -0.088508, -0.029133, 0.023992, 0.069305, 0.067742, 0.028680, -0.021320
#*# 	  -0.094758, -0.043195, 0.016180, 0.056805, 0.053680, 0.008367, -0.061945
#*# 	  -0.126008, -0.076008, -0.018195, 0.027117, 0.031805, 0.003680, -0.066633
#*# 	  -0.176008, -0.080695, -0.022883, 0.025555, 0.023992, 0.000555, -0.065070
#*# 	  -0.188508, -0.127570, -0.069758, -0.018195, 0.006805, -0.022883, -0.105695
#*# 	  -0.191633, -0.136945, -0.080695, -0.021320, -0.024445, -0.060383, -0.099445
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 180.0
#*# min_y = 30.0
#*# max_y = 150.0
